.mbox
    .sidebar
    .right-column-main
        .catalog-main
            include breadcrumbs-catalog.pug
            .catalog-main__title Тахометры Leiсa
            .catalog-main__banner
                img(src="img/banner.jpg" alt="")    
            ul.catalog-main__list
                - for (var i = 0; i < 3 ; i++)
                    li.catalog-main__list-item
                        a(href="#").catalog-main__list-link
                            span.catalog-main__list-link-name Штативы 
                            span.catalog-main__list-link-count 35
                    li.catalog-main__list-item
                        a(href="#").catalog-main__list-link
                            span.catalog-main__list-link-name Рейки 
                            span.catalog-main__list-link-count 35
                    li.catalog-main__list-item
                        a(href="#").catalog-main__list-link
                            span.catalog-main__list-link-name Дорожные рейки 
                            span.catalog-main__list-link-count 35 
                    li.catalog-main__list-item
                        a(href="#").catalog-main__list-link
                            span.catalog-main__list-link-name Угломеры и уклономеры 
                            span.catalog-main__list-link-count 35 
                    li.catalog-main__list-item
                        a(href="#").catalog-main__list-link
                            span.catalog-main__list-link-name Измерительные рулетки 
                            span.catalog-main__list-link-count 35 
                    li.catalog-main__list-item
                        a(href="#").catalog-main__list-link
                            span.catalog-main__list-link-name Литература 
                            span.catalog-main__list-link-count 35
                    li.catalog-main__list-item
                        a(href="#").catalog-main__list-link
                            span.catalog-main__list-link-name Спецодежда 
                            span.catalog-main__list-link-count 35
                    li.catalog-main__list-item
                        a(href="#").catalog-main__list-link
                            span.catalog-main__list-link-name Аккумуляторы и ЗУ 
                            span.catalog-main__list-link-count 35
                    li.catalog-main__list-item
                        a(href="#").catalog-main__list-link
                            span.catalog-main__list-link-name Карты памяти 
                            span.catalog-main__list-link-count 35   
            .catalog-main__sort
                .catalog-main__sort-item
                    .catalog-main__sort-name Сортировать по:
                    .catalog-main__sort-name.catalog-main__sort-name--mobile по:
                    .catalog-main__sort-drop-wrap
                        a(href="#").catalog-main__sort-link.js-show-drop    
                            span цене
                            +icon('drop')
                        .catalog-main__sort-dropdowm
                            a(href="#").catalog-main__sort-dropdowm-link цене &#8593
                            a(href="#").catalog-main__sort-dropdowm-link цене &#8595
                            a(href="#").catalog-main__sort-dropdowm-link бренду
                .catalog-main__sort-item
                    .catalog-main__sort-name Показывать по:
                    .catalog-main__sort-name.catalog-main__sort-name--mobile по:
                    .catalog-main__sort-drop-wrap
                        a(href="#").catalog-main__sort-link.js-show-drop    
                            span 12
                            +icon('drop')
                        .catalog-main__sort-dropdowm.catalog-main__sort-dropdowm--
                            a(href="#").catalog-main__sort-dropdowm-link 12
                            a(href="#").catalog-main__sort-dropdowm-link 24
                            a(href="#").catalog-main__sort-dropdowm-link 36        
            .catalog-main__wrapper
                - for (var i = 0 ; i < 4 ; i++)
                    .catalog-main__item
                        .catalog-main__status
                            .catalog-main__status-name.catalog-main__status-name--red.
                                Акция
                        a(href="#").catalog-main__item-image
                            img(src="img/accessories/1.jpg" alt="")
                        .catalog-main__info-wrapper
                            a(href="#").catalog-main__item-title.
                                ADA Light D ADA Light D ADA Light D ADA Light D ADA Light D
                            .catalog-main__item-price
                                .catalog-main__item-price-name.
                                    3950 р.

                                a(href="#").catalog-main__item-price-review.
                                    13 отзывов  
                            .catalog-main__item-detail.
                                Для нивелиров и теодолитов до 3 кг;<br>
                                Масса - 3,2 кг;<br>
                                Площадка - сферическая;                                
                        .catalog-main__item-buy
                            .catalog-main__item-buy-top
                                .catalog-main__item-aviable.
                                    в наличии
                                a(href="#").catalog-main__item-compare.
                                    сравнить    
                            .catalog-main__item-buy-bottom
                                a(href="#").product-cart__to-cart.product-cart__to-cart--catalog
                                    
                                    span
                                        +icon('cart')
                                        | В корзину            
                                a(href="#").catalog-main__item-buy-fast
                                    span.
                                        Купить в 1 клик
                    .catalog-main__item
                        a(href="#").catalog-main__item-image
                            img(src="img/accessories/2.jpg" alt="")
                        .catalog-main__info-wrapper
                            a(href="#").catalog-main__item-title.
                                Vesa S6
                            .catalog-main__item-price
                                .catalog-main__item-price-name.
                                    3950 р.
                                a(href="#").catalog-main__item-price-review.
                                    13 отзывов  
                            .catalog-main__item-detail.
                                Для нивелиров и теодолитов до 3 кг;<br>
                                Масса - 3,2 кг;<br>
                                Площадка - сферическая;                                
                        .catalog-main__item-buy
                            .catalog-main__item-buy-top
                                .catalog-main__item-aviable.
                                    в наличии
                                a(href="#").catalog-main__item-compare.
                                    сравнить    
                            .catalog-main__item-buy-bottom
                                a(href="#").product-cart__to-cart.product-cart__to-cart--catalog
                                    
                                    span
                                        +icon('cart')
                                        | В корзину            
                                a(href="#").catalog-main__item-buy-fast
                                    span.
                                        Купить в 1 клик 
                    .catalog-main__item
                        a(href="#").catalog-main__item-image
                            img(src="img/accessories/3.jpg" alt="")
                        .catalog-main__info-wrapper
                            a(href="#").catalog-main__item-title.
                                RGK S6-XXX
                            .catalog-main__item-price
                                .catalog-main__item-price-name.
                                    3950 р.
                                a(href="#").catalog-main__item-price-review.
                                    13 отзывов  
                            .catalog-main__item-detail.
                                Для нивелиров и теодолитов до 3 кг;<br>
                                Масса - 3,2 кг;<br>
                                Площадка - сферическая;                                
                        .catalog-main__item-buy
                            .catalog-main__item-buy-top
                                .catalog-main__item-aviable.
                                    в наличии
                                a(href="#").catalog-main__item-compare.
                                    сравнить    
                            .catalog-main__item-buy-bottom
                                a(href="#").product-cart__to-cart.product-cart__to-cart--catalog
                                    
                                    span
                                        +icon('cart')
                                        | В корзину            
                                a(href="#").catalog-main__item-buy-fast
                                    span.
                                        Купить в 1 клик   
                    .catalog-main__item
                        .catalog-main__status
                            .catalog-main__status-name.catalog-main__status-name--blue.
                                Хит
                        a(href="#").catalog-main__item-image
                            img(src="img/accessories/4.jpg" alt="")
                        .catalog-main__info-wrapper
                            a(href="#").catalog-main__item-title.
                                RGK S6-XXX
                            .catalog-main__item-price
                                .catalog-main__item-price-name.
                                    3950 р.
                                a(href="#").catalog-main__item-price-review.
                                    13 отзывов  
                            .catalog-main__item-detail.
                                Для нивелиров и теодолитов до 3 кг;<br>
                                Масса - 3,2 кг;<br>
                                Площадка - сферическая;                                
                        .catalog-main__item-buy
                            .catalog-main__item-buy-top
                                .catalog-main__item-aviable.
                                    в наличии
                                a(href="#").catalog-main__item-compare.
                                    сравнить    
                            .catalog-main__item-buy-bottom
                                a(href="#").product-cart__to-cart.product-cart__to-cart--catalog
                                    
                                    span
                                        +icon('cart')
                                        | В корзину            
                                a(href="#").catalog-main__item-buy-fast
                                    span.
                                        Купить в 1 клик    
            include pagination.html
