
.mbox
    .sidebar
    .right-column-main
        include breadcrumbs-catalog.pug
        .product-cart
            .product-cart__title Электронный теодолит RGK T-02 (с целеуказателем)
            .product-cart__wrapper
                .product-cart__image
                    .product-cart__image-mobile-btns
                        a(href="#").product-cart__image-mobile-btn.product-cart__image-mobile-btn--prev
                            +icon('prev')
                        a(href="#").product-cart__image-mobile-btn.product-cart__image-mobile-btn--next
                            +icon('next')
                    .product-cart__item-bonus-info
                        .product-cart__bonus-item.product-cart__bonus-item--red Акция
                        .product-cart__bonus-item.product-cart__bonus-item--blue Хит
                    .product-cart__image-top
                        .product-cart__image-top-wrapper
                            img(src="img/slide-1.jpg" alt="") 
                        .product-cart__image-top-wrapper
                            img(src="img/slide-1.jpg" alt="")
                        .product-cart__image-top-wrapper
                            img(src="img/slide-1.jpg" alt="")     
                        .product-cart__image-top-wrapper
                            img(src="img/slide-1.jpg" alt="")                  
                        .product-cart__image-top-wrapper
                            img(src="img/slide-1.jpg" alt="") 
                        .product-cart__image-top-wrapper
                            img(src="img/slide-1.jpg" alt="")
                    .product-cart__navigantion-wrapper
                        .product-cart__navigantion-btns
                            a(href="#").product-cart__navigantion-btn.product-cart__navigantion-btn--prev
                                +icon('prev')
                            a(href="#").product-cart__navigantion-btn.product-cart__navigantion-btn--next
                                +icon('next')                    
                        .product-cart__slider-navigation
                            a(href="#").product-cart__slider-navigation-link.active
                                img(src="img/slide-thumb-1.jpg" alt="")
                            a(href="#").product-cart__slider-navigation-link
                                img(src="img/slide-thumb-1.jpg" alt="")
                            a(href="#").product-cart__slider-navigation-link
                                img(src="img/slide-thumb-1.jpg" alt="") 
                            a(href="#").product-cart__slider-navigation-link
                                img(src="img/slide-thumb-1.jpg" alt="") 
                            a(href="#").product-cart__slider-navigation-link
                                img(src="img/slide-thumb-1.jpg" alt="")
                            a(href="#").product-cart__slider-navigation-link
                                img(src="img/slide-thumb-1.jpg" alt="")           
                    .product-cart__other-info-links
                        a(href="#").product-cart__other-link
                            +icon('video')
                        a(href="#").product-cart__other-link
                            +icon('video')    
                .product-cart__info
                    .product-cart__art
                        | Арт.   
                        span 132-125-15-554-555 
                    .product-cart__price
                        .product-cart__price-current   9900 р.     
                        .product-cart__price-old 12000 р.   
                    a(href="#tab-3").product-cart__option.js-option.js-tab-link.js-tab-link
                        span Выбрать опции
                    .product-cart__buy-wrapper
                        a(href="#").product-cart__to-cart
                            span
                                +icon('cart')
                                | В корзину 
                        a(href="#").product-cart__fast-buy 
                            span Купить в 1 клик   
                    .product-cart__shiping
                        .product-cart__shiping-item
                            a(href="#tab-6").js-tab-link.js-option.product-cart__shiping-name.product-cart__shiping-name--semi 
                                span Самовывоз
                            .product-cart__shiping-text
                                .product-cart__shiping-text-item бесплатно      
                        .product-cart__shiping-item    
                            a(href="#tab-6").js-tab-link.js-option.product-cart__shiping-name.product-cart__shiping-name--shiping 
                                span Доставка          
                            .product-cart__shiping-text
                                .product-cart__shiping-text-item по Москве - бесплатно
                                .product-cart__shiping-text-item по России - от 300 .-
                    .product-cart__item-info
                        .product-cart__item-info-title Основные характеристики
                        ul.product-cart__item-info-list
                            li.product-cart__item-info-name.
                                Точность  - 2,0 мм./км.;
                            li.product-cart__item-info-name.
                                Увеличение - 20 х;    
                            li.product-cart__item-info-name.
                                Компенсатор - автоматический (воздушный)        
        .product-info
            .product-info__item
                .product-info__image
                    img(src="img/info-1.png" alt="" width="45")
                .product-info__text Внесен в горсреестр   
            .product-info__item
                .product-info__image
                    img(src="img/svg/info-2.svg" alt="" width="34" height="42")
                .product-info__text.
                    Гарантия  <br>
                    от производителя 2 года
            .product-info__item
                .product-info__image
                    img(src="img/info-3.png" alt="" width="46")
                .product-info__text официальный дилер
        .product-tabs
            .product-tabs__head
                a(href="#tab-1").js-tab-link.product-tabs__head-link Описание
                a(href="#tab-2").js-tab-link.product-tabs__head-link Характеристики
                a(href="#tab-3").js-tab-link.product-tabs__head-link.active Конфигуратор
                a(href="#tab-5").js-tab-link.product-tabs__head-link Комплектация
                a(href="#tab-4").js-tab-link.product-tabs__head-link
                    | Отзывы
                    span.count 2
                a(href="#tab-6").js-tab-link.product-tabs__head-link Оплата и доставка
            .product-tabs__body
                a(href="#").product-tabs__mobile-tabs
                    span.product-tabs__mobile-name Описание
                    span.product-tabs__mobile-icon
                .product-tabs__item(style="display:none;")#tab-1
                    .product-text
                        p.
                            Точный, надежный и удобный оптический нивелир RGK N-24 превосходно подходит для самых различных строительных работ. Этот прибор отличается высоким качеством сборки, превосходной оптикой и надежной защитой от пыли и влаги. Маятниковый компенсатор с системой магнитного демпфирования исправляет колебания уровня в диапазоне 15', благодаря чему повышается точность и надежность измерений, что особенно актуально при работе вблизи оживленных автострад, железных дорог или на строительной площадке, где тяжелая строительная техника вызывает вибрации поверхности.
                        p.
                            Этот нивелир имеет прямое изображение и 24-х кратное увеличение, что позволяет комфортно работать в любых условиях. Минимальное расстояние визирование составляет 20 сантиметров, то есть с этим прибором можно работать даже в небольших помещениях, коридорах, шахтах или туннелях. Средняя квадратическая ошибка нивелирования составляет всего 2 мм на 1 километр двойного хода, что позволяет использовать нивелир RGK N-24 для большинства стандартных работ.

                a(href="#").product-tabs__mobile-tabs.active
                    span.product-tabs__mobile-name Характеристики
                    span.product-tabs__mobile-icon
                .product-tabs__item.active(style="display:none;")#tab-2
                    .product-table
                        .product-table__top.product-table__top--center Fluke 125B
                        .product-table__body
                            .product-table__row
                                .product-table__col.product-table__col--name Функции
                                .product-table__col
                                    .product-table__col-item.
                                        Полнофункциональные осциллограф с двумя входами и мультиметр         
                                    .product-table__col-item.
                                        Полоса пропускания осциллографа 40 МГц    
                                    .product-table__col-item.
                                        Регистратор мультиметра и осциллографа
                                    .product-table__col-item.
                                        Измерения наведением курсора на осциллографе
                            .product-table__row
                                .product-table__col.product-table__col--name Принадлежности в комплекте
                                .product-table__col
                                    .product-table__col-item.
                                        Щуп с делителем напряжения 10:1  
                                    .product-table__col-item.
                                        i400S Токовые клещи переменного тока
                    .product-table
                        .product-table__top Режим осциллографа (Вертикально)
                        .product-table__body
                            .product-table__row
                                .product-table__col.product-table__col--name.
                                    Частотная характеристика 
                                    — подключение 
                                    по постоянному току
                                .product-table__col
                                    .product-table__col-item
                                        .product-table__col-row.
                                            без щупов и 
                                            измерительных проводов (с BB120) 
                                        .product-table__col-row.
                                            по постоянному току и до 40 МГц (-3 дБ)
                                    .product-table__col-item
                                        .product-table__col-row.
                                            с экранированными 
                                            измерительными проводами STL120-IV 1:1
                                        .product-table__col-row.
                                            По постоянному току и до 12,5 МГц (-3 дБ) / 
                                            по постоянному току и до 20 МГц (-6 дБ)
                                    .product-table__col-item
                                        .product-table__col-row.
                                            с щупом VP41 10:1
                                        .product-table__col-row.
                                            по постоянному току и до 40 МГц (-3 дБ)
                            .product-table__row
                                .product-table__col.product-table__col--name.
                                    Частотная характеристика 
                                    — подключение 
                                    по постоянному току
                                .product-table__col
                                    .product-table__col-item
                                        .product-table__col-row.
                                            без щупов и 
                                            измерительных проводов (с BB120) 
                                        .product-table__col-row.
                                            по постоянному току и до 40 МГц (-3 дБ)
                                    .product-table__col-item
                                        .product-table__col-row.
                                            с экранированными 
                                            измерительными проводами STL120-IV 1:1
                                        .product-table__col-row.
                                            По постоянному току и до 12,5 МГц (-3 дБ) / 
                                            по постоянному току и до 20 МГц (-6 дБ)
                                    .product-table__col-item
                                        .product-table__col-row.
                                            с щупом VP41 10:1
                                        .product-table__col-row.
                                            по постоянному току и до 40 МГц (-3 дБ)    
                            .product-table__row
                                .product-table__col.product-table__col--name.
                                    Время нарастания, без 
                                    учета влияния щупов, 
                                    измерительных проводов
                                .product-table__col
                                    .product-table__col-item.
                                        23B <17,5 нс 
                                        124B и 125B <8,75 нс             
                    .product-table
                        .product-table__top Режим осциллографа (Вертикально)
                        .product-table__body
                            .product-table__row
                                .product-table__col-item.
                                    Много всякихх параметров и значений которые зачем-то нужны

                a(href="#").product-tabs__mobile-tabs
                    span.product-tabs__mobile-name Конфигуратор
                    span.product-tabs__mobile-icon
                .product-tabs__item.active#tab-3
                    .product-config
                        .product-config__list
                            .product-config__item
                                input(type="radio" name="config" id="item-1" checked).product-config__input
                                .product-config__icon
                                label(for="item-1").product-config__wrapper
                                    .product-config__info-left
                                        .product-config__item-top
                                            a(href="#").product-config__item-title Trimble R8s Base без встроенного модема
                                            a(href="#").product-config__show-detail.js-show-detail-config Подробнее 
                                        .product-config__item-sub-title R8S-101-00-CFG-001-41
                                        .product-config__detail.
                                            Конфигурация: <br>
                                            R8S-OPT-001-41 Trimble R8s Option - Base <br>
                                            R8S-OPT-001-20 Trimble R8s Option - Dual Frequency Tracking <br>
                                            R8S-OPT-001-23 Trimble R8s Option - SBAS <br>
                                            R8S-OPT-001-24 Trimble R8s Option - QZSS 
                                    .product-config__price.
                                        33 750 р.


                            .product-config__item
                                input(type="radio" name="config" id="item-2").product-config__input
                                .product-config__icon
                                label(for="item-2").product-config__wrapper
                                    .product-config__info-left
                                        .product-config__item-top
                                            a(href="#").product-config__item-title Trimble R8s Base без встроенного модема
                                            a(href="#").product-config__show-detail.js-show-detail-config Подробнее 
                                        .product-config__item-sub-title R8S-101-00-CFG-001-41
                                        .product-config__detail.
                                            Конфигурация: <br>
                                            R8S-OPT-001-41 Trimble R8s Option - Base <br>
                                            R8S-OPT-001-20 Trimble R8s Option - Dual Frequency Tracking <br>
                                            R8S-OPT-001-23 Trimble R8s Option - SBAS <br>
                                            R8S-OPT-001-24 Trimble R8s Option - QZSS 
                                    .product-config__price.
                                        33 750 р.   

                        .product-config__price-bottom
                            .product-config__price-all.
                                Итого: <span>67490 р. </span>
                            a(href="#").product-cart__to-cart.product-cart__to-cart--config
                                span
                                    +icon('cart')
                                    | В корзину  
                a(href="#").product-tabs__mobile-tabs
                    span.product-tabs__mobile-name Отзывы
                    span.product-tabs__mobile-icon
                .product-tabs__item(style="display:none;")#tab-4
                    .product-review
                        .product-review__top
                            .product-review__top-left
                                .product-review__title Отзывы
                                .product-review__current
                                    .product-review__current-stars.stars-4 
                                        -for (var i=0; i < 5; i++)
                                            span
                                                +icon('star')               
                                    .product-review__current-text 5 оценок (4.8 из 5)
                            a(href).product-review__new.js-add-review
                                +icon('review')
                                span Написать отзыв            
                    .product-review__form-row
                        form
                            .product-review__form
                                a(href="#").product-review__form-close.js-close-review
                                    +icon('remove')
                                .product-review__form-group.product-review__form-group--rate
                                    .product-review__form-name Оценка
                                    .product-review__form-wrapper
                                        .product-review__form-stars
                                            input(type="radio" name="review" id="star-5" checked).product-review__form-input
                                            label(for="star-5").product-review__form-star-wrapper
                                                +icon('star')
                                            input(type="radio" name="review" id="star-4").product-review__form-input
                                            label(for="star-4").product-review__form-star-wrapper
                                                +icon('star')
                                            input(type="radio" name="review" id="star-3").product-review__form-input
                                            label(for="star-3").product-review__form-star-wrapper
                                                +icon('star') 
                                            input(type="radio" name="review" id="star-2").product-review__form-input
                                            label(for="star-2").product-review__form-star-wrapper
                                                +icon('star')
                                            input(type="radio" name="review" id="star-1").product-review__form-input
                                            label(for="star-1").product-review__form-star-wrapper
                                                +icon('star')
                                .product-review__form-group.product-review__form-group--half
                                    .product-review__form-name Имя 
                                    .product-review__form-wrapper 
                                        input(type="text").product-review__form-text-input
                                .product-review__form-group.product-review__form-group--half
                                    .product-review__form-name Почта 
                                    .product-review__form-wrapper 
                                        input(type="text").product-review__form-text-input

                                .product-review__form-group
                                    .product-review__form-name Отзыв 
                                    .product-review__form-wrapper 
                                        textarea.product-review__form-textarea
                                .product-review__form-group
                                    .product-review__form-name 
                                    .product-review__form-wrapper 
                                        button(type="submit").product-review__submit Отправить отзыв           
                    .product-review-list
                        .product-review-list__item
                            .product-review-list__top
                                .product-review-list__top-left
                                    .product-review-list__name Никодим
                                    .product-review-list__stars.stars-4 
                                        -for (var i=0; i < 5; i++)
                                            span
                                                +icon('star')   
                                .product-review-list__date  22.04.2017 
                            .product-review-list__text.js-text.
                                Искала книгу для первого знакомства с бухгалтерским учетом. Задача: быстро вникнуть в общую картину бухгалтерии, получить "отправную точку" для дальнейшего изучения области (нужно для развития собственного бизнеса). Из всех книг, представленных на полках магазина, только кssники Молчанова показались мне именно тем решением, которое требовалось - кратко, структурно и при том очень информативно представлена наиболее важная информация со ссылками на источники. Покупаю сразу несколько книг автора. По-моему, для начинающих свой бизнес - это то, что нужно прочитать в первую очередь.
                            a(href="#").product-review-list__show Показать всё    
                            .product-review-list__bottom
                                .product-review-list__rate
                                    a(href="#").product-review-list__rate-link
                                        +icon('like')
                                    span.product-review-list__rate-line    
                                    a(href="#").product-review-list__rate-link
                                        +icon('dislike')
                        .product-review-list__item
                            .product-review-list__top
                                .product-review-list__top-left
                                    .product-review-list__name Никодим
                                    .product-review-list__stars.stars-4 
                                        -for (var i=0; i < 5; i++)
                                            span
                                                +icon('star')   
                                .product-review-list__date  22.04.2017 
                            .product-review-list__text.js-text.
                                Искала книгу для первого знакомства с бухгалтерским учетом. Задача: быстро вникнуть в общую картину бухгалтерии, получить "отправную точку" для дальнейшего изучения области (нужно для развития собственного бизнеса). Из всех книг, представленных на полках магазина, только кssники Молчанова показались мне именно тем решением, которое требовалось - кратко, структурно и при том очень информативно представлена наиболее важная информация со ссылками на источники. Покупаю сразу несколько книг автора. По-моему, для начинающих свой бизнес - это то, что нужно прочитать в первую очередь.
                            a(href="#").product-review-list__show Показать всё     
                            .product-review-list__answer
                                .product-review-list__top
                                    .product-review-list__top-left
                                        .product-review-list__name Администрация
                                    .product-review-list__date  22.04.2017 
                                .product-review-list__text.
                                    Из всех книг, представленных на полках магазина, только кssники Молчанова показались мне именно тем решением, которое требовалось - кратко, структурно и при том очень информативно представлена наиболее важная информация со ссылками на источники.    
                            .product-review-list__bottom
                                .product-review-list__rate
                                    a(href="#").product-review-list__rate-link
                                        +icon('like')
                                    span.product-review-list__rate-line    
                                    a(href="#").product-review-list__rate-link
                                        +icon('dislike')                
                a(href="#").product-tabs__mobile-tabs
                    span.product-tabs__mobile-name Оплата и доставка                    
                    span.product-tabs__mobile-icon
                .product-tabs__item(style="display:none;")#tab-5
                    .product-equipment

                        .product-equipment__photo-list
                            a(href="#").product-equipment__photo-link
                                span.product-equipment__photo-wrap
                                    img(src="img/equipment-1.jpg" alt="")
                                span.product-equipment__photo-name.
                                    Оптический нивелир RGK N-32 - 1шт.
                            a(href="#").product-equipment__photo-link
                                span.product-equipment__photo-wrap
                                    img(src="img/equipment-2.jpg" alt="")
                                span.product-equipment__photo-name.
                                    Оптический нивелир RGK N-32 - 1шт.

                            a(href="#").product-equipment__photo-link
                                span.product-equipment__photo-wrap
                                    img(src="img/equipment-3.jpg" alt="")
                                span.product-equipment__photo-name.
                                    Оптический нивелир RGK N-32 - 1шт.
                            a(href="#").product-equipment__photo-link
                                span.product-equipment__photo-wrap
                                    img(src="img/equipment-1.jpg" alt="")
                                span.product-equipment__photo-name.
                                    Оптический нивелир RGK N-32 - 1шт.

                            a(href="#").product-equipment__photo-link
                                span.product-equipment__photo-wrap
                                    img(src="img/equipment-3.jpg" alt="")
                                span.product-equipment__photo-name.
                                    Оптический нивелир RGK N-32 - 1шт.
                            a(href="#").product-equipment__photo-link
                                span.product-equipment__photo-wrap
                                    img(src="img/equipment-2.jpg" alt="")
                                span.product-equipment__photo-name.
                                    Оптический нивелир RGK N-32 - 1шт.     
                .product-tabs__item(style="display:none;")#tab-6        
        .product-section.product-files
            .product-section__title Файлы                                
            .product-section__wrapper.product-files__wrapper
                .product-files__items
                    .product-files__title Драйвера
                    ul.product-files__list
                        li.product-files__list-item
                            +icon('pdf')
                            a(href="#").product-files__link.
                                Teodolit X500 
                            span.product-files__list-item-info.
                                PDF, 250 kb
                        li.product-files__list-item
                            +icon('pdf')
                            a(href="#").product-files__link.
                                Programma ZorroHorse
                            span.product-files__list-item-info.
                                PDF, 250 kb 
                        li.product-files__list-item
                            +icon('pdf')
                            a(href="#").product-files__link.
                                Teodolit X500 
                            span.product-files__list-item-info.
                                PDF, 250 kb
                .product-files__items
                    .product-files__title Драйвера
                    ul.product-files__list
                        li.product-files__list-item
                            +icon('pdf')
                            a(href="#").product-files__link.
                                Teodolit X500 
                            span.product-files__list-item-info.
                                PDF, 250 kb
                        li.product-files__list-item
                            +icon('pdf')
                            a(href="#").product-files__link.
                                Programma ZorroHorse
                            span.product-files__list-item-info.
                                PDF, 250 kb 
                        li.product-files__list-item
                            +icon('pdf')
                            a(href="#").product-files__link.
                                Teodolit X500 
                            span.product-files__list-item-info.
                                PDF, 250 kb



                .product-files__items
                    .product-files__title Драйвера
                    ul.product-files__list
                        li.product-files__list-item
                            +icon('pdf')
                            a(href="#").product-files__link.
                                Как глядеть в глазок 
                            span.product-files__list-item-info.
                                PDF, 250 kb
                        li.product-files__list-item
                            +icon('pdf')
                            a(href="#").product-files__link.
                                Разбираем теодолит 
                            span.product-files__list-item-info.
                                PDF, 250 kb 

                .product-files__items
                    .product-files__title Драйвера
                    ul.product-files__list
                        li.product-files__list-item
                            +icon('pdf')
                            a(href="#").product-files__link.
                                Как глядеть в глазок 
                            span.product-files__list-item-info.
                                PDF, 250 kb
                        li.product-files__list-item
                            +icon('pdf')
                            a(href="#").product-files__link.
                                Разбираем теодолит 
                            span.product-files__list-item-info.
                                PDF, 250 kb 
        .product-section.product-accessories
            .product-section__title Аксессуары
            .product-section__wrapper.product-accessories__wrapper 
                select.product-accessories__mobile-select.js-mobile-select
                    option(value="all") Все  12
                    option(value="cat-1") Штативы  12
                    option(value="cat-2") Рейки  12
                    option(value="cat-3") Рации  12
                ul.product-accessories__top-list
                    li.product-accessories__list-item
                        a(href="all").product-accessories__list-link.active
                            span.product-accessories__name Все 
                            span.product-accessories__count 12
                    li.product-accessories__list-item
                        a(href="cat-1").product-accessories__list-link
                            span.product-accessories__name Штативы  
                            span.product-accessories__count 3
                    li.product-accessories__list-item
                        a(href="cat-2").product-accessories__list-link
                            span.product-accessories__name Рейки 
                            span.product-accessories__count 5
                    li.product-accessories__list-item
                        a(href="cat-3").product-accessories__list-link
                            span.product-accessories__name Рации  
                            span.product-accessories__count 11
                    li.product-accessories__list-item
                        a(href="cat-4").product-accessories__list-link
                            span.product-accessories__name Колёсики  
                            span.product-accessories__count 17
                    li.product-accessories__list-item
                        a(href="cat-5").product-accessories__list-link
                            span.product-accessories__name Штативы 
                            span.product-accessories__count 3
                    li.product-accessories__list-item
                        a(href="cat-6").product-accessories__list-link
                            span.product-accessories__name Рейки 
                            span.product-accessories__count 5
                    li.product-accessories__list-item
                        a(href="cat-7").product-accessories__list-link
                            span.product-accessories__name Рации  
                            span.product-accessories__count 11
                    li.product-accessories__list-item
                        a(href="cat-1").product-accessories__list-link
                            span.product-accessories__name Колёсики  
                            span.product-accessories__count 17
                    li.product-accessories__list-item
                        a(href="cat-2").product-accessories__list-link
                            span.product-accessories__name Штативы 
                            span.product-accessories__count 3
                    li.product-accessories__list-item
                        a(href="cat-3").product-accessories__list-link
                            span.product-accessories__name Рейки 
                            span.product-accessories__count 5
                    li.product-accessories__list-item
                        a(href="cat-4").product-accessories__list-link
                            span.product-accessories__name Рации  
                            span.product-accessories__count 11
                    li.product-accessories__list-item
                        a(href="cat-5").product-accessories__list-link
                            span.product-accessories__name Колёсики  
                            span.product-accessories__count 17

            .product-accessories__slider
                .product-accessories__slider-count.js-accessories-count
                    span.js-current
                    | /
                    span.js-all    
                .product-accessories__slider-btns
                    a(href="#").product-accessories__slider-btn.product-accessories__slider-btn--prev.js-accessories-prev
                        +icon('prev')
                    a(href="#").product-accessories__slider-btn.product-accessories__slider-btn--next.js-accessories-next
                        +icon('next')    
                .js-accessories
                    - for (var i=0; i < 2;i++)
                        .product-accessories__slider-item(data-category="cat-1")
                            .product-accessories__slider-item-image
                                img(src="img/accessories/1.jpg" alt="")
                            a(href="#").product-accessories__slider-item-title ADA Light D
                            .product-accessories__slider-price 3950 р.
                            .product-accessories__slider-info.
                                Для нивелиров и теодолитов до 
                                3 кг; Масса - 3,2 кг;
                                Площадка - сферическая;
                        .product-accessories__slider-item(data-category="cat-2")
                            .product-accessories__slider-item-image
                                img(src="img/accessories/1.jpg" alt="")
                            a(href="#").product-accessories__slider-item-title ADA Light D
                            .product-accessories__slider-price 3950 р.
                            .product-accessories__slider-info.
                                Для нивелиров и теодолитов до 
                                3 кг; Масса - 3,2 кг;
                                Площадка - сферическая; 
                        .product-accessories__slider-item(data-category="cat-3")
                            .product-accessories__slider-item-image
                                img(src="img/accessories/1.jpg" alt="")
                            a(href="#").product-accessories__slider-item-title ADA Light D
                            .product-accessories__slider-price 3950 р.
                            .product-accessories__slider-info.
                                Для нивелиров и теодолитов до 
                                3 кг; Масса - 3,2 кг;
                                Площадка - сферическая;   
                        .product-accessories__slider-item(data-category="cat-4")
                            .product-accessories__slider-item-image
                                img(src="img/accessories/1.jpg" alt="")
                            a(href="#").product-accessories__slider-item-title ADA Light D
                            .product-accessories__slider-price 3950 р.
                            .product-accessories__slider-info.
                                Для нивелиров и теодолитов до 
                                3 кг; Масса - 3,2 кг;
                                Площадка - сферическая;
                        .product-accessories__slider-item(data-category="cat-5")
                            .product-accessories__slider-item-image
                                img(src="img/accessories/1.jpg" alt="")
                            a(href="#").product-accessories__slider-item-title ADA Light D
                            .product-accessories__slider-price 3950 р.
                            .product-accessories__slider-info.
                                Для нивелиров и теодолитов до 
                                3 кг; Масса - 3,2 кг;
                                Площадка - сферическая;                  
        .product-section.product-recent
            .product-section__title Вы недавно смотрели                       
            .product-recent__slider
                .product-accessories__slider-count.js-recent-count
                    span.js-current
                    | /
                    span.js-all    
                .product-accessories__slider-btns
                    a(href="#").product-accessories__slider-btn.product-accessories__slider-btn--prev.js-recent-prev
                        +icon('prev')
                    a(href="#").product-accessories__slider-btn.product-accessories__slider-btn--next.js-recent-next
                        +icon('next') 
                .js-recent
                    - for (var i=0; i < 3;i++)
                        .product-accessories__slider-item
                            a(href="#").product-accessories__slider-item-remove.js-remove-recent
                                +icon('remove')
                            .product-accessories__slider-item-image
                                img(src="img/accessories/1.jpg" alt="")
                            a(href="#").product-accessories__slider-item-title ADA Light D
                            .product-accessories__slider-price 3950 р.
                            .product-accessories__slider-info.
                                Для нивелиров и теодолитов до 
                                3 кг; Масса - 3,2 кг;
                                Площадка - сферическая;
                        .product-accessories__slider-item
                            a(href="#").product-accessories__slider-item-remove.js-remove-recent
                                +icon('remove')
                            .product-accessories__slider-item-image
                                img(src="img/accessories/1.jpg" alt="")
                            a(href="#").product-accessories__slider-item-title ADA Light D
                            .product-accessories__slider-price 3950 р.
                            .product-accessories__slider-info.
                                Для нивелиров и теодолитов до 
                                3 кг; Масса - 3,2 кг;
                                Площадка - сферическая; 
                        .product-accessories__slider-item
                            a(href="#").product-accessories__slider-item-remove.js-remove-recent
                                +icon('remove')
                            .product-accessories__slider-item-image
                                img(src="img/accessories/1.jpg" alt="")
                            a(href="#").product-accessories__slider-item-title ADA Light D
                            .product-accessories__slider-price 3950 р.
                            .product-accessories__slider-info.
                                Для нивелиров и теодолитов до 
                                3 кг; Масса - 3,2 кг;
                                Площадка - сферическая;   
                        .product-accessories__slider-item
                            a(href="#").product-accessories__slider-item-remove.js-remove-recent
                                +icon('remove')
                            .product-accessories__slider-item-image
                                img(src="img/accessories/1.jpg" alt="")
                            a(href="#").product-accessories__slider-item-title ADA Light D
                            .product-accessories__slider-price 3950 р.
                            .product-accessories__slider-info.
                                Для нивелиров и теодолитов до 
                                3 кг; Масса - 3,2 кг;
                                Площадка - сферическая;
